{% extends 'base.html' %} {% block title %}Sign Up{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">Sign Up</h3>
    
      <div class="form-group">
        <label for="email" >Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" aria-describedby="emailHelp"/>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        
        <label for="username" >Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"/>
      
      
        <label for="password" >Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"/>
      
        <label for="repassword" >Re-Enter Password</label>
        <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Enter Password Again"/>
      <br>
      <div align="center">
      <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
    </form>
    {% endblock %}
    